<div class='contenedor-equipo'>
    <h2>New team</h2>
    <form class='form-flex' action='/form' method="POST" enctype="multipart/form-data">

        <table class='table tabla-equipo'>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td><input name="name"></td>
                </tr>
                <tr>
                    <td>Short name</td>
                    <td><input name="shortName"></td>
                </tr>
                <tr>
                    <td>TLA</td>
                    <td><input name="tla"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><input name="address"></td>
                </tr>
                <tr>
                    <td>Phone number</td>
                    <td><input name="phone"></td>
                </tr>
                <tr>
                    <td>Website</td>
                    <td><input name="website"></td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td><input name="email"></td>
                </tr>
                <tr>
                    <td>Founded</td>
                    <td><input type='number' name="founded"></td>
                </tr>
                <tr>
                    <td>Club Colors</td>
                    <td><input name="clubColors"></td>
                </tr>
                <tr>
                    <td>Venue</td>
                    <td><input name="venue"></td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td><input name="country"></td>
                </tr>

            </tbody>
        </table>
        <input style='align-self: center' type="file" name="logo">

        <input type="submit">
    </form>
</div>